body {
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    color: white;
    font-family: 'Poppins', sans-serif;
}

#title {
    text-align:center;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 35px;
}
#description {
    text-align:center;
    font-weight: 100;
    font-style: italic;
    font-size: 1.125rem;
    text-shadow: 2px 2px #0000006e;
    margin-top: 5px;
    margin-bottom: 30px;
}

#survey-form {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.1rem;
}

#name {
    display: block;
    width: 100%;
    box-sizing:border-box;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
}

#email {
    display: block;
    width: 100%;
    box-sizing:border-box;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
}

#number {
    display: block;
    width: 100%;
    box-sizing:border-box;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
}

#dropdown {
    display: block;
    width: 100%;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color:gray;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
}

#feature {
    display: block;
    width: 100%;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: gray;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
}

#dropdown2 {
    display: block;
    width: 100%;
    margin-top: 1.2rem;
}

#submit {
    display: block;
    width: 100%;
    background-color: rgb(55, 160, 125);
    border-radius: 0%;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.05em;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}

#survey-form {
    max-width: 650px;
    margin: auto;
    padding: 45px;
}

p {
    display: block;
}

#comment {
    width: 100%;
    height: 120px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    box-sizing:border-box;
}

input[type=checkbox] {
    margin-right: 0.625rem;
    min-height: 1rem;
    min-width: 1rem;
}

input[type=radio] {
    margin-right: 0.625rem;
    min-height: 1rem;
    min-width: 1rem;
}